name: doc-deploy

on: [push]

jobs:
  doc:
    runs-on: ubuntu-latest
    env:
      LISP: sbcl-bin/2.5.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libblas3 liblapack3
      - name: Install roswell
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Install Ultralisp
        run: |
          ros -e '(ql-dist:install-dist "http://dist.ultralisp.org/" :prompt nil)'
      - name: Checkout Codex
        uses: actions/checkout@v2
        with:
          repository: shamazmazum/codex
          path: ~/.roswell/local-projects/codex
      - name: Build documentation
        run: |
          ros dynamic-space-size=8gb -s codex -e '(codex:document :cl-optim)'
      - name: Deploy to GH pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/cl-optim/html
